/*CSS enlazado a texto1.html*/

h2 + p{
    font-weight: bold;
    font-style: italic;
    text-indent: 1.5%;
}

#consejo{
    background-color: rgba(148, 155, 62, 0.7);
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#textolinea{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-variant: small-caps;
    text-decoration: underline;
    color: purple;
    background-color: rgba(255, 100, 100, 0.3);
}

h3{
    background-color: rgba(158, 110, 45, 0.8);
    color:white;
}

.clase{
    color: rgb(140, 80, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
}

#idparaestilo{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(140, 140, 255);
    color: white;
}

/*ALFREDO PUERTA GALLEGO - DW2E*/