/*CSS enlazado a index.html (ejercicio 14)*/

*{font-family: Arial, Helvetica, sans-serif;}

.container{
    top: 10px;
    position: sticky;
    background: linear-gradient(to bottom, #18810e 90%, rgb(185, 185, 13) 100%);
    padding: 1em 2em;
    display: block;
    border-radius: 20px;
    box-shadow: 5px 5px 15px;
}

h1{
    color: #444;
    text-shadow: 0px 1px 2px #FFFFFF;
    margin: 0px;
}

.website{
    margin: 0px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

nav{
    top: 32px; /*es una solución pero no es lo óptimo*/
    /* left: 400px; */
    position: relative;
    padding: 0px;
}

ul{
    display: flex;
    justify-content: flex-end;
}

li{
    float: left;
    list-style-type: none;
    text-align: center;
    padding: 2px 15px;
    background: linear-gradient(90deg, rgba(143,237,11,1) 0%, rgba(255,255,255,1) 50%, rgba(143,237,11,1) 100%);
    border-radius: 3px;
}

li a {
    color: black;
    text-decoration: none;
}

/*darle un repaso más adelante*/

/*ALFREDO PUERTA GALLEGO - DW2E*/