/*CSS enlazado a cajas.html*/

* {margin: 0 10px;}

h1 {
  padding: 10px;
  margin: 1em 0;
  border: 2px solid blue;
}

h2 {
  margin: 0.75em 0;
  padding-left: 0.5em;
  border: 2px solid #999;
}

ul {
  border: 2px solid rgb(0, 255, 0);
  margin: 10px 0;
}

li {margin: 1em;}

li:first-child{margin-top: 0;}

li:last-child {margin-bottom: 0;}

/*ALFREDO PUERTA GALLEGO - DW2E*/
