/*CSS enlazado a Ejercicio 5.html (Ejercicio 5 - Grid p2)*/
body{
	margin:0;
}

.wrapper{
	height: 100vh;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(4, 1fr);
	grid-gap: 5px;
}

.item{
	background: darkblue;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item1{grid-column: span 2;}
.item2{
	grid-column: span 2;
	grid-row: span 2;
}
.item3{grid-row: span 2;}
.item6{grid-column: span 2;}

/*ALFREDO PUERTA GALLEGO - DW2E*/