/*CSS enlazado a index.html (ejercicio 9)*/
*{box-sizing: border-box;}

.contenedor{
    width: 40rem;
    height: 35rem;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0.5em;
}

div.contenedor > div{
    width: 12rem;
    height: 10rem;
    position: center;
    border: 1px solid black;
    margin: auto;
}

.caja1, .caja2, .caja3 {background-color: white;}

.caja4, .caja5, .caja6 {background-color: darkgreen;}

.caja7, .caja8, .caja9 {background-color: blue;}

/*ALFREDO PUERTA GALLEGO - DW2E*/