/*CSS enlazado a selectores_complejos.html*/

/* PREGUNTA 1 */
td[colspan="2"]{
    background-color: #234E54;
}

td[rowspan="2"]{
    background-color: #234E54;
}

td[colspan="3"]{
    background-color: #ACA759;
}

td[rowspan="3"]{
    background-color: #ACA759;
}

td[colspan="4"]{
    background-color: #CEA885;
}

td[rowspan="4"]{
    background-color: #CEA885;
}

/* PREGUNTA 2 */

li[id^="pregunta"]{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.85em;
    color: rgb(240, 34, 240);
    list-style-type: square;
}

/***pregunta**: por qué "list-style-type:square;" no se puede aplicar con el pseudoelemento "::marker"***/
li[id^="pregunta"]::marker{
    color: rgb(34, 55, 240);
    /* list-style-type: square; */
}

li[id^="pregunta"]::selection{
    color:yellow;
    background-color: black;
}

/* PREGUNTA 3 */

.negrita {
    font-weight: bold;
}

li[id^="pregunta"]>.negrita{
    background-color: #FF9;
}

/* PREGUNTA 4 */

.comentarios{
    font-style: italic;
    border: thin dotted #AC8159;
    margin-left: 10%;
    margin-right: 10%;
}

/* PREGUNTA 5 */

p+p{
    text-decoration: underline;
}

/* PREGUNTA 6 */

li>a[href="#"]{
    background-color: #755E8B;
}

.cursiva{
    font-style: italic;
}

/*ALFREDO PUERTA GALLEGO - DW2E*/