/*CSS enlazado a ejercicio7c.html*/

/*****************EJERCICIO 7C*****************/

body{
    background-image: url('../madrid.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

div.caja{
    width: 200px;
    height: 200px;
    background-image: url('../logo.png');
    background-image: no-repeat;
    background-size: contain;
    box-shadow: 10px 10px 5px 1px;
}

img{
    display: none;
}

/*ALFREDO PUERTA GALLEGO - DW2E*/