/*CSS enlazado a index.html (Práctica 1)*/

/*globales*/
*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    /*borrar*/
    /* border: 1px solid black; */
    /* background-color: red; */
}

a{text-decoration: none;}
li{list-style-type: none;}

/*header*/
header{
    background-color: rgb(244, 122, 41);
    color: white;
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid orangered;
}

/*body*/
/* -- nav*/
.nav-container > .nav-img{
    padding-left: 3rem;
    /* flex-grow: 1; */
}
.nav-img img{width: 8rem;}

nav{
    /* flex-grow: 4; */
    background-color: white;
    /* justify-content: flex-end; */
}

.nav-container{
    background-color: white;
    position: sticky;
    display: flex;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0.5em;
}

.nav-container ul li{
    margin: 2em;
    display: inline;
    line-height: 0.2em;
}

.nav-container ul li a{color: black;}
.nav-container ul li a:hover{text-decoration: underline;}

/*-- main text*/
.btc-def{
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.options{
    display: flex;
    width: 100%;
    height: 7em;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.options .opt a{
    margin: auto;
    color: white;
    border: 1px solid rgb(255, 60, 0);
    background-color: rgb(244, 128, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 2em;
    transition: transform ease-in-out 0.15s;
}

.options .opt a:hover{
    box-shadow: 2px 2px 3px black;
    transform: scale(1.1);
}

.main-side-top-bar > p{
    display: flex;
    align-items: center;
}

.main-side-top-bar > p::before{
    content: url('misc/black_circle.png');
    margin-right: 10px;
}

.main-side-top-bar{
    height: 5%;
    background-color: white;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrousel p, .carrousel a{color: white;}

.carrousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(11, 21, 46);
    width: 100%;
}
.carrousel p {
    width: 100%;
    height: 3em;
    text-align: center;
    line-height: 4.5em;
}

.carrousel-box-content{
    margin: 50px 25px;
    padding: 0;
    background-color: black;
    width: 14em;
    height: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.2s;
}

.carrousel-box-content:hover{
    background-color: rgb(31, 31, 31);
    box-shadow: 5px 5px 3px black;
    transform: scale(1.1);
}

.orange-square{
    width: 80px;
    height: 80px;
    border: 5px solid rgb(244, 122, 41);
}

.carrousel-box-content p:nth-child(3){
    font-size: 10px;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.article-text{
    /* padding: 20px; */
    margin: 2em;
    width: 25em;
    text-align: justify;
}
section > aside{
    /* padding: 20px; */
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

#article-button{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 2em;
}

#article-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 21, 46);
    color: white;
    width: 15em;
    height: 3em;
}


/*footer*/
.main-footer{
    padding: 2em;
    background-color: rgb(11, 21, 46);
    display: flex;
    align-items: center;
}

.footer-button a{
    margin: auto;
    color: white;
    border: 1px solid rgb(255, 60, 0);
    background-color: rgb(244, 128, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 2em;
    transition: transform ease-in-out 0.15s;
    animation: glow 1s infinite alternate;
    flex-grow: 1;
}
.footer-button a:hover{
    box-shadow: 2px 2px 3px black;
    transform: scale(1.1);
}

/*extra : animación*/
@keyframes glow{
    from{box-shadow: 0 0 10px orange;}
    to{box-shadow: 0;}
}

.others{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 3;
}

.final-footer{
    padding: 1.5em;
    background-color: black;
    color: white;
}

/*ALFREDO PUERTA GALLEGO - DW2E*/