/*CSS enlazado a ej1.html (Unidad 4)*/

.main-container{
    margin: auto;
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{width: 80%; margin: 5px; padding: 5px; display: none;}
#item1{background-color: yellow; display: flex;}
#item2{background-color: purple;}
#item3{background-color: red;}
#item4{background-color: aquamarine;}